body {
    font-family: 'ubuntu-regular';
    font-style: normal;
    background-color: #fff;
}

.admin-header {
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.box-sh {
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    border-radius: .2rem;
    padding: 20px;
    background: transparent;
}

.book-sh {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.animation-dropdown {
    animation-name: dropdownAnimation;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}
/** Homepage */
.banner-container img {
    width: 100%;
    border-radius: 15px
}
.special-title {
    font-family: Cinzel Decorative;
    position: relative;
    font-weight: 600;
    margin: 40px 0;
    letter-spacing: 2px;
    z-index: 1;
}
.has-edge:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 98.5%;
    bottom: 0px;
    width: 45px;
    background: repeating-linear-gradient(to right, #f5f5f5, #f5f5f5 5px, #aaa 5px, #aaa 6px);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
}

.books-panel-item-wrap {
    display: block;
    margin-bottom: 50px;
    -webkit-perspective: 600px;
    perspective: 600px;
}

.books-panel-item-wrap:hover .book-thumb-img-wrap,
.books-panel-item-wrap.selected .book-thumb-img-wrap {
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
}

.book-thumb-img-wrap {
    transition: .3s ease-out;
    position: relative;
    margin-bottom: 30px;
}

.has-edge {
    -webkit-transform-origin: 35% 50%;
    transform-origin: 35% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.has-edge img {
    width: 100%;
    height: auto;
    border: 0;
}

.books-panel-info-inner {
    transition: .4s;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
    display: none;
}

.books-panel-info-inner.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.books-panel-info-inner .book-desc p{
    -webkit-line-clamp: 20;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.show {
    display: block !important;
}

.hero-item {
    min-width: 400px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 36px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    z-index: 1;
}

.hero-cover {
    margin: -100px 30px 0 0;
    background-color: transparent;
    display: block;
}

.hero-item .hero-cover img {
    width: 250px;
    height: 325px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 14px 2px rgb(34 34 34 / 8%), 0 8px 10px 1px rgb(34 34 34 / 10%);
    box-shadow: 0 3px 14px 2px rgb(34 34 34 / 8%), 0 8px 10px 1px rgb(34 34 34 / 10%);
}

.chapter-container.container {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.chapter-options.fixed-left {
    z-index: 20;
    position: fixed;
    right: 0%;
    top: 50%;
    margin: 0;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: white;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.chapter-option-container .close-btn {
    font-size: 1.75rem;
}
.latest-update .table th,
.table td {
    padding: 0.375rem !important;
}

.chapter-options .btn i {
    font-size: 1.3rem !important;
}

.footer-top .container {
    padding: 2rem;
}

.footer-top {
    background-color: #020086;
    color: white;
}

.footer-bottom {
    background-color: #d8d8d8;
}

.copyright {
    padding: 1rem;
    text-align: center;
}

.rating-stars ul, ul.stars-list {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star, ul.stars-list>li.star-item {
    display: inline-block;
}

.rating-stars ul>li.star>i.mdi {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}
ul.stars-list>li.star-item.inactive>i.mdi {
    color: #ccc;
    /* Color on idle state */
}

.rating-stars ul>li.star.hover>i.mdi {
    color: #FFCC36;
}

.rating-stars ul>li.star.selected>i.mdi, ul.stars-list>li.star-item.active>i.mdi {
    color: #FF912C;
}
.review-item .nav-profile-img img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.review-item {
    border-bottom: 1px solid #ccc9c9;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
.chapter-option-container {
    right: 0%;
    top: 50%;
    margin: 0;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: white;
    border-radius: 25px;
    right: 3rem;
    width: 20rem;
    height: 70vh;
    overflow-y: scroll;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.book-search-result {
    background: white !important;
    border-radius: 5px;-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;    
    position: absolute;
    z-index: 100;
}
.admin-header .input-group {
    border-bottom: 1px solid #ccc9c9;
    border-radius: 50px;
}
section.bg-section {
    background: #fff;
    padding-top: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
}
.single-book-cover {
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 26%);
}
#footer ul {
    padding-left: 0;
}
li {
    list-style: none;
}
.footer-links a{
    color: #fff;
}
.footer-links a:hover{
    color: #d8d8d8;
}
legend {
    font-size: 0.9375rem !important;
}
.g_hr {
    border-bottom: 2px solid #ccc9c9;
    border-radius: 50px;
}
i.ch_num {
    top: 16px;
    left: 16px;
    min-width: 20px;
    float: left;
    text-align: left;
    line-height: 24px;
    margin-right: 4px;
}
.ch_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    line-height: 24px;
    display: block;
}
.ch_time {
    line-height: 16px;
    color: #83848f;
    display: block;
}
.ch_an {
    border-bottom: 1px solid #d7d8e0;
    padding: 10px;
}
.story-actions {
    position: absolute;
    bottom: 0;
}
.stats-label {
    font-size: 0.85rem;
}
.book-star .stars-list {
    font-size: 0.95rem;
}
.story-stat li {
    border-right: 1px solid lightgrey;
    padding: 5px 5px 5px 0;
}
.story-stat {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 25px;
    background: #ac42e6;
    padding: 0 20px;
    color: #fff;
}
span.stat-num {
    color: #fff;
    font-weight: 400;
}
span.stat-num {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    justify-self: center;
    line-height: 20px;
    margin-top: 4px;
    cursor: pointer;
}
.ch-c {
    padding: 1rem;
}
.bb-grey {
    border-bottom: 1px solid lightgrey;
}
.book-thumb-title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: 'Mulish';
    font-weight: 500;
}
.book-title h4 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: cursive;
}
.book-single-desc p, .ch_content-wrapper {
    text-align: left;
    font-family: 'ubuntu-regular';
}
.review-user .nav-profile-text p {
    line-height: 1;
}
.stars-list li {
    line-height: 1;
}
.single-book-cover img {
    width: 100%;
}
.reviews .review-item:last-child {
    border-bottom: none;
}
.story-stat li:last-child {
    border-right: none;
}
.pagination {
    align-items: center;
    justify-content: center;
}
section.banner{
    padding: 0px;
    margin-top: 40px;
}
.latest-table {    
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown .dropdown-menu .dropdown-item:hover {    
    border-radius: 5px;
}
.profile-wrapper {
}
.profile-sidebar.sidebar {
    width: 220px;
    margin-right: 20px;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    min-height: max-content;
    height: fit-content;
}
.profile-sidebar .nav{
    margin-bottom: 0px;
}
.profile-panel{
    
}
.profile-content-wrapper {}
.user-cover img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.user-avatar img{
    width: 280px;
    border-radius: 50%;
    background: white;
    border: 10px solid #ffffff;
    margin-top: -140px;
}
.bio-username h3 {
    font-family: 'Mulish';
}
.bio-about p{
    font-weight: 600;
    color: grey;
}
.bio-joined span{
    font-weight: 600;
    color: #b1b0f5;
}
.scroll-top {
    position: fixed;
    bottom: 5px;
    z-index: 1;
    right: 5px;
}
.scroll-top i {
    font-size: 1.5rem;
}
.btn-floating {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.book-desc{
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.books-panel-info-inner .book-desc{
    -webkit-line-clamp: unset;
}
.block-header {
    text-align: center;
}
.block-title {
    display: flex;
}
.block-header .block-title:before {
    margin-right: 10px;
}
.block-header .block-title:after {
    margin-left: 10px;
}
.block-header .block-title:after, .block-header .block-title:before {
    content: '';
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 46.5%,#ee294d 48.5%,#ee294d 53.5%,rgba(255,255,255,0) 53.5%);
}
p.block-desc {
    font-size: 1rem;
    text-align: justify;
}
.tooltip-inner {
    max-width: 75% !important;
    margin: auto;
}
.hero-info p.desc {
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
<<<<<<< HEAD:public/css/web.css
.history-item, .activity-item {
=======
.activity-item {
>>>>>>> 0d5fa8a9ad8559fc532c67c0035779098fd7dae2:public_html/css/web.css
    border-bottom: 2px solid #d4d4ce;
}
.history-item:last-child {
    border-bottom: none;
}
.activity-item {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
}
.activity-content {
    color: #919191;
}
.activity-details h6, .library-item h6 {
    font-family: 'ubuntu-light';
<<<<<<< HEAD:public/css/web.css
}
.activity-book-cover img, .library-book-cover img {
    border-radius: 5px;
}
@media (max-width: 1200px) {
    .book-search-result {
        right: 0;
        margin: auto;
        left: 0;
=======
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.activity-book-cover img, .library-book-cover img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
}
/**
* Page Loader
*/
@-webkit-keyframes object_one {
    75% {
        -webkit-transform: scale(0)
>>>>>>> 0d5fa8a9ad8559fc532c67c0035779098fd7dae2:public_html/css/web.css
    }
}

@keyframes object_one {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
}

@-webkit-keyframes object_two {
    75% {
        -webkit-transform: scale(0)
    }
}

@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
}

@-webkit-keyframes object_three {
    75% {
        -webkit-transform: scale(0)
    }
}

@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
}
.sh-page-loader {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 995000;
    display: table;
}
.sh-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none!important;
}
.sh-page-loader-style-spinner #loading-center-absolute {
    display: table;
    margin: 0 auto;
}
.sh-page-loader-style-spinner .object {
    width: 20px;
    height: 20px;
    background-color: #8d8d8d;
    float: left;
    margin-right: 20px;
    border-radius: 50% 50% 50% 50%;
}
.sh-page-loader-style-spinner #object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
.sh-page-loader-style-spinner #object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.sh-page-loader-style-spinner #object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.sh-page-loader-style-spinner .object:last-child {
    margin-right: 0;
}
.nav-item .btn-icon i {
    font-size: 1.5rem;
    color: #8b2f19;
}
.books-panel-info-inner .book-author {
    font-size: 0.75rem;
}
/* 
** Media Queries For Mobiles and Tablets
*/
/* Extra small devices (portrait phones, less than 576px)
** No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .book-search-result {
        margin: auto;
        width: 450px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .history-item .book-title {
        margin-bottom: 0.125rem;
    }
    .history-item .book-progress, .history-item .c-read {
        margin-bottom: 0.125rem;
    }
    .history-item .book-desc {
        display: none;
    }
    .history-book-cover img {
        width: 80px;
    }
    .profile-panel .nav-link {
        padding: 0.5rem 1.5rem;
    }
    .book-item .book-title h4{
        font-size: 0.9375rem;
    }
    .hero-info .book-thumb-title {
        -webkit-line-clamp: 1;
    }
    .books-panel-info-inner a.btn {
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
    .hero-info p.desc {
        -webkit-line-clamp: 2;
    }
    .special-title {
        margin: 20px 0;
    }
    .story-stat {
        margin: auto;
    }
    span.stat-num {
        font-weight: 400;
    }    
    .story-actions ul {
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
    }
    .book-search-result {
        width: auto;
        margin: 0px 10px 0 10px;
        left: 0;
        right: 0;
        top: 70px;
        box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
        padding: 10px;
    }
    .navbar .navbar-menu-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .book-thumb-img-wrap {
        margin-bottom: 5px;
    }
    .book-item .book-cover img {
        width: 80px;
    }
    .book-desc {
        font-size: 0.85rem;
    }
    .book-title h4, .book-thumb-title {
        margin-bottom: 0;
    }
    ul.stars-list {
        margin-bottom: 0;
    }
    .book-single ul.stars-list li, .book-single ul.stars-list i {
        font-size:1rem;
    }
    .modal .brand-logo img {
        width: 100%;
    }
    .story-actions{
        position:relative;
        margin-top: 1rem;
    }
    h1.book-single-title {
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .mobile-menu {
        position: absolute;
        width: auto;
        left: 20px;
        right: 20px;
        top: 70px;
        z-index: 200;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
        animation-name: dropdownAnimation;
        animation-duration: 0.25s;
        animation-fill-mode: both;
    }
    a#profileDropdown:after {
        display: none;
    }
    a.m-menu-item {
        padding: 10px 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    .mobile-menu .dropdown-divider {
        margin: 0;
    }
    .chapter-container h3 {
        font-size: 1.1rem;
    }
    .chapter-container h4 {
        font-size: 0.8rem;
    }
    .chapter-container.container {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #footer {
        text-align: center;
    }
    h5.book-thumb-title, .book-title h4{
        font-size: 1.25rem;
    }
    .books-panel-item-wrap {
        margin-bottom: 10px;
    }
    .hero-item .hero-cover img {
        width: 75px;
        height: 100px;
    }
    .hero-item {
        min-width: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .hero-cover {
        margin: -40px 10px 0 0;
    }
    .hero-info .desc {
        -webkit-line-clamp: 4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .btn {
        padding: 0.5rem 1rem;
    }
    .banner-container img {
        height: 150px;
        width: 340px;
    }
    section.banner {
        margin: 20px 10px;
    }
    .nav-tabs .nav-item h4{
        font-size: .95rem;
    }
    .chapter-options {        
        display: flex;
        align-items: center;
        margin-bottom: 0.125rem !important;
    }
    .chapter-option-container {
        margin-bottom: 3.25rem;
    }
    .chapter-options.fixed-left, .chapter-option-container {
        top: auto;
        bottom: 0;
        right: auto;
        left: 50%;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .books-filter-section .box-sh, .books-list-section .box-sh {
        padding: 10px 0;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }